<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
    <bean id="sms" class="spring.StudentManagementSystem">
    <property name="stuDb"><ref bean="stuDB"/></property>
    </bean>
    <bean id="student" class="spring.Student"/>
    <bean id="stuDB" class= "spring.SimpleStudentRepository"/>
    </beans>